@model IEnumerable<StudentInformationSystem.Models.Classes>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@{
    ViewBag.Title = "ClassList";
}

<h2>班级列表</h2>

@* --- 搜索表单 --- *@
@using (Html.BeginForm("ClassList", "Admin", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label>查找班级:</label>
        <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="输入专业/学年/班级名" />
    </div>
    <input type="submit" value="搜 索" class="btn btn-default" />
}
<br />

<p>
    @Html.ActionLink("添加新班级", "AddClass", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassNumber)
            </td>
            <td>
                @Html.ActionLink("编辑", "EditClass", new { id = item.ClassID }) |
                @Html.ActionLink("详情", "ClassDetails", new { id = item.ClassID }) |
                @Html.ActionLink("删除", "DeleteClass", new { id = item.ClassID })
            </td>
        </tr>
    }

</table>
