@model StudentInformationSystem.Models.Students

@{
    ViewBag.Title = "学生详情";
}

<h2>学生详情</h2>

<div>
    <h4>@Model.StudentName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            学号
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            姓名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            性别
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            班级
        </dt>
        <dd>
            @* 通过导航属性显示班级名称，更友好 *@
            @Html.DisplayFor(model => model.Classes.ClassName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.StudentID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("返回列表", "StudentList", null, new { @class = "btn btn-default" })
</p>