@model IEnumerable<StudentInformationSystem.Models.Exams>

@{
    ViewBag.Title = "ExamList";
}

<h2>考试安排列表</h2>

<p>
    @Html.ActionLink("添加新考试", "AddExam", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            课程名称
        </th>
        <th>
            考试时间
        </th>
        <th>
            考试地点
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Courses.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("编辑", "EditExam", new { id=item.ExamID }) |
            @Html.ActionLink("详情", "DetailsExam", new { id=item.ExamID }) |
            @Html.ActionLink("删除", "DeleteExam", new { id=item.ExamID })
        </td>
    </tr>
}

</table>
